fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic
python-jose
passlib[bcrypt]
python-dotenv
python-multipart
httpx
pytest
pytest-asyncio
pytest-cov
gunicorn
pydantic_settings
pydantic[email]